[run]
branch = True
source = asgi_middleware

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    */migrations/*
    */site-packages/*
    *virtualenvs/*
    */manage.py
    */tests/*
    */static/*
    *apps.py*
    setup.py
    */distutils/*
    tests/*

show_missing = True